---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Gallery from '@components/Gallery.astro';
---
<Layout title="Gallery" path="/gallery/"><Header /><main><Gallery /></main><Footer /></Layout>
