---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Hero from '@components/Hero.astro';
import Services from '@components/Services.astro';
import Gallery from '@components/Gallery.astro';
import Testimonials from '@components/Testimonials.astro';
import FAQ from '@components/FAQ.astro';
---
<Layout path="/"><Header /><main><Hero /><Services /><Gallery /><Testimonials /><FAQ /></main><Footer /></Layout>
