---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Services from '@components/Services.astro';
---
<Layout title="Services" path="/services/"><Header /><main><Services /></main><Footer /></Layout>
